---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import KitsComponent from "@/components/KitsComponent.astro";
import Layout from "@/layouts/Layout.astro";

const item_kit = [
    {
        id: 1,
        name: "Kit de Rob贸tica Workstation",
        price: "470000",
        edad: "7+",
        image: "/images/wedo.png",
        items: [
            { count: 1, text: "Controlador programable." },
            { count: 1, text: "Sensor de proximidad." },
            { count: 1, text: "Sensor de inclinaci贸n." },
            { count: 1, text: "Servomotor." },
            { count: 276, text: "Bloques." },
            { count: "", text: "Software descarga gratuita Wedo 2.0 Lego." },
        ],
    },
    {
        id: 2,
        name: "Kit de Rob贸tica Workstation + caja organizadora",
        price: "620000",
        edad: "7+",
        image: "/images/wedo2.png",
        items: [
            { count: 1, text: "Controlador programable." },
            { count: 1, text: "Sensor de proximidad." },
            { count: 1, text: "Sensor de inclinaci贸n." },
            { count: 1, text: "Servomotor." },
            { count: 1, text: "Caja organizadora." },
            { count: 276, text: "Bloques." },
            { count: "", text: "Software descarga gratuita Wedo 2.0 Lego." },
        ],
    },
];
---

<Layout>
    <section
        class="pt-36 pb-12 max-w-7xl mx-auto md:px-0 px-4"
    >
        <Breadcrumbs />
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
            {item_kit.map((item) => <KitsComponent itemData={item} />)}
        </div>
    </section>
</Layout>
