---
import { getData, loginMoodle } from "@/utils/fetchData";
import CursosItems from "./CursosItems.astro";
import { functionToken } from "@/utils/functions";
const res = await getData(
	`?wstoken=${functionToken(null)}&wsfunction=core_course_get_courses_by_field&moodlewsrestformat=json&field=category&value=1`,
);

const cursos_item = res.courses;
loginMoodle("api_user", "Iso$%9001")
	.then((token) => console.log("Token de sesión:", token))
	.catch((err) => console.error("Error:", err.message));
---

<div class="grid md:grid-cols-3 grid-cols-1 gap-4">
	{cursos_item.map((item) => <CursosItems itemData={item} />)}
</div>
