---
import Header from "../components/Header.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Capacitate</title>
	</head>
	<body>
		<Header />
		<main class="relative pb-28">
			<!-- Video de fondo -->
			<video
				autoplay
				muted
				loop
				playsinline
				class="absolute inset-0 w-full h-full object-cover -z-10"
			>
				<source src="/video/plexo-white.mp4" type="video/mp4" />
			</video>
			<div class="absolute inset-0 bg-white/90 -z-10"></div>
			<slot />
			<footer class="text-center w-full text-sm text-gray-400 drop-shadow-md">
				Creado por <a href="#" class="text-bgPrimary">David Acevedo</a>
			</footer>
		</main>
	</body>
</html>
