---
import { Icon } from "astro-icon/components";
import Header from "../components/Header.astro";
import "@/styles/global.css";
const item_img = [
	{ img: "lego01" },
	{ img: "lego02" },
	{ img: "lego03" },
	{ img: "lego04" },
	{ img: "logo" },
	{ img: "lego01" },
	{ img: "lego02" },
	{ img: "lego03" },
];
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Capacitate</title>
	</head>
	<body>
		<div class="rain">
			{
				item_img.map((item) => (
					<div class="lego ">
						<Icon
							name={item.img}
							size={50}
							class={"text-bgPrimary/20"}
						/>
					</div>
				))
			}
		</div>
		<Header />
		<main class="relative pb-28 min-h-screen">
			<div class="absolute inset-0 bg-black/90 -z-10"></div>
			<slot />
			<footer
				class="text-center w-full text-sm text-gray-400 drop-shadow-md mt-12"
			>
				Creado por <a
					href="#"
					class="text-bgPrimary hover:scale-105 transition-all"
					>David Acevedo</a
				>
			</footer>
		</main>
	</body>
</html>

<!-- 
contraseña vieja: $6$rounds=10000$1ol4mSvQo2K8xl2O$jW27WYIl7TuHaLlQIIcL.mtE8t0m.qGgsg44n70Q9Ayp38djPwSvaOTBzmMYTix8WQQT9X4UerrklWV1Kn8gi. 

contraseña nueva: $6$lbYD6xFANnRHyWtH$kCu5axdPUAgNL8NtmoS7pQ81Uzau8JJAFyF00009dTBN3qVWJkXJlWbAm4TfW55sf6evJmpS9a7D2p15V8iOL1 -->

<!-- Servicio web-cy5fk -->
<!-- 43412dce7fc7358a25512944fbf03715 -->
 <!-- 92bc4c0b655c04029b03097dc95e2053 -->